h1 Champions
//-div(ng-controller='champions')
table.table.table-striped.table-hover.table-bordered
  thead.thead-inverse
    tr
      th Name
      th Title
  tbody
    tr(ng-repeat="x in Utils.keys(champions).sort()")
      td {{ x }}
      td {{ champions[x].title }}
